<div class="container-fluid navegacao p-3 text-end">
    <a asp-controller="Home" asp-action="Index">Início</a> |
    <a asp-controller="Services" asp-action="Services">Serviços</a> |
    <a asp-controller="Contact" asp-action="Contact">Contato</a> 
</div>