@{
    ViewData["Title"] = "Serviços";
}

<div class="container-fluid conteudo p-3">
    <h1>Services</h1>
    <hr />

    <div class="row">
        <div class="col-4 p-4 text-center">
            <h4>Serviço 1</h4>
            <p>Descrição do serviço 1.</p>
        </div>

        <div class="col-4 p-4 text-center">
            <h4>Serviço 2</h4>
            <p>Descrição do serviço 2.</p>
        </div>

        <div class="col-4 p-4 text-center">
            <h4>Serviço 3</h4>
            <p>Descrição do serviço 3.</p>
        </div>
    </div>

</div>



